body {
  margin:0px;
  background-color:rgba(153, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-163px;
  width:729px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:30px;
  width:729px;
  height:87px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:729px;
  word-wrap:break-word;
}
#u5_ann {
  border-width:0px;
  position:absolute;
  left:885px;
  top:26px;
  width:1px;
  height:1px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:186px;
  width:683px;
  height:301px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:466px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:43px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:86px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:129px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:172px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:215px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:215px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:217px;
  height:43px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:43px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:258px;
  width:466px;
  height:43px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:462px;
  word-wrap:break-word;
}
#u6_ann {
  border-width:0px;
  position:absolute;
  left:862px;
  top:182px;
  width:1px;
  height:1px;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:547px;
  width:140px;
  height:40px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u21_ann {
  border-width:0px;
  position:absolute;
  left:845px;
  top:543px;
  width:1px;
  height:1px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:547px;
  width:150px;
  height:40px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u22_ann {
  border-width:0px;
  position:absolute;
  left:340px;
  top:543px;
  width:1px;
  height:1px;
}
